version: '3.8'

services:
  server:
    build:
      context: .
    environment:
      NODE_ENV: production
      DATABASE_URL: 'postgresql://postgres:123456@postgres:5432/ledger?schema=public'
    depends_on:
      - postgres
    ports:
      - 3002:3000
    restart: unless-stopped
    dns:
      - 178.22.122.100
      - 185.51.200.2

  postgres:
    image: postgres:14.1-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: ledger
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  pgdata:
